<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="PrismaDB-Commons (AppVeyor Dev Builds)" value="https://ci.appveyor.com/nuget/bazzilic-prismadb-commons" />
    <add key="PrismaDB-QueryAST (AppVeyor Dev Builds)" value="https://ci.appveyor.com/nuget/bazzilic-prismadb-queryast" />
  </packageSources>
</configuration>