<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="PrismaDB-Commons" value="https://ci.appveyor.com/nuget/bazzilic-prismadb-commons" />
    <add key="PrismaDB-Result" value="https://ci.appveyor.com/nuget/bazzilic-prismadb-result" />
    <add key="PrismaDB-QueryAST" value="https://ci.appveyor.com/nuget/bazzilic-prismadb-queryast" />
  </packageSources>
</configuration>